{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<h4><b>The sight will be updated soon</b></h4>

<p></p>
<p></p>


<p>
    <b>Commanding Officer</b>: The DragonSlayer: [C/Gen.] TheDragonSlayer
    #9295
</p>
<p>
    <b>Owner</b>: Plumberina:Plumberina🎃🧹👻
    #0999
</p>
<p>
    <b>Owner</b>:Bosskiller:Dabosskiller.
    #6969
</p>
<p><b>Developer</b>: The Egg: The Egg#1691</p>
<p>
    <b>Head Administrator</b>: Thomas C.: Thomas C.
    #9134
</p>
<p>
    <b>Senior Administrator</b>: Pix: Pix

    #6420
</p>
<p>
    <b>Senior Administator</b>: Berkely:Berkey
    #1831
</p>
<p><b>Admin</b>: Pohru: Pohru #3569</p>
<p><b>Admin</b>: SamMods: SamMods #3291</p>
<p><b>Admin</b>: Dustin: Dustin #7124</p>
<p></p>
<h><b>And our other wounderfull staff team</b></h>
<p></p>

<p>Very Moist:Very Moist #7729 </p>
<p>Bandit_Boi: Bandit_Boi#1072</p>
<p>DarkU7P: DarkU7P #0069</p>
<p>Morale_Mythic: Morale_Mythic #6969</p>
<p>DrDinoz: DrDinoz #2450</p>



{% endblock %}
