{% extends "layout.html" %}

{% block content %}


<h4>
    <b>Please fill out the form bellow</b> or email TheDragonSlayer
    Dabosskiller, Plumberina, or my self Egg for ban or mute appeals
</h4>
<p><a class="btn btn-default" href="https://docs.google.com/forms/d/1XorWrpARBNS4W9rZb24yw1C32A4J91u_LSjiIgBPXko/prefill">Ban Appeal &raquo;</a></p>
<p></p>
<p></p>
<p><b>Staff Applaction</b></p>
<p><a class="btn btn-default" href="https://forms.gle/K4om9vT9HrbZMYUE6"><b>Staff Applications</b> &raquo;</a></p>

{% endblock %}
